body{
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f1f5f9;
}

.box{
  background:white;
  padding:30px;
  text-align:center;
  border-radius:8px;
}

button{
  padding:10px 20px;
  margin:5px;
  cursor:pointer;
}
